body{
    @apply min-h-screen w-full m-0 p-0 ;
}

.box-debugger{
    @apply border border-red-600;
}



ul {
    list-style-type: circle;
}

h1{
    @apply text-3xl ;
}
h2{
    @apply text-2xl ;
}
h3{
    @apply text-xl ;
}
h4{
    @apply text-lg ;
}

/* UNDERLINE HOVER EFFECT */
.hover-underline-animation {
    width: fit-content;
    position: relative;
    @apply text-black ;
}
.hover-underline-animation:hover {
    font-weight: bold;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    @apply bg-black ;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.animate-height{
    overflow: hidden;
    max-height: 0px;
}

.open{
    transition: 700ms max-height ;
    max-height: 350px;
}

.closed{
    transition: 700ms max-height ;
    max-height: 0px;
}

.sidebar {
    background-color: #ff9d00cd !important;
    padding: 0;
    overflow: hidden;
    max-width: 0rem;
    transition: 700ms max-width ease-in;
}


.sidebar-transition{
    max-width: 35rem;
    display: block;
}

.hide-box{
    top:-1000px;
    transition: top 2s ease-in; 
}

.slide-in{
    top: 0%;
}

